* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-body);
    background-color: var(--color-background);
    padding-bottom: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    padding: 0 15px;
    flex: 1;
}

/* Back to Mission */
#go-back {
    display: block;
    text-decoration: none;
    width: 100%;
    max-width: 340px;
    background: var(--color-support);
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
    transition: all 0.1s;
}

#go-back h1 {
    font-family: var(--font-titles);
    font-size: 1.3rem;
    text-align: center;
    color: white;
    margin: 0;
}

/* Click*/
#go-back:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(4px, 4px);
}

/* Menu */
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
    max-width: 340px; 
}

.menu-item {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1; 
    width: 100%;
    box-shadow: 4px 4px 0px black;
    transition: all 0.1s;
    cursor: pointer;
    text-decoration: none;
}

/* Menu Item */
.menu-item:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(4px, 4px);
}

.menu-item img {
    width: 50px;
    height: auto;
    margin-bottom: 8px;
}

.menu-item h2 {
    font-family: var(--font-titles);
    color: var(--color-background);
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

/* Colors */
#map {background-color: var(--color-support);}
#ranking {background-color: var(--color-secondary);}
#notes {background-color: var(--color-primary);}
#bible {background-color: var(--color-highlight);}