* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #FFFEFB;
    --color-primary:    #F6CC39;
    --color-secondary:  #B078B3;
    --color-support:    #EC9D45;
    --color-highlight:  #55b4a1;

    --font-titles: 'Fredoka', sans-serif;
    --font-body:   'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%; 
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--color-background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; 
    max-width: 400px;
    margin: 0 auto;
    height: 85vh;
    padding: 20px 0;
}