* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #FFFEFB;
    --color-primary:    #F6CC39;
    --color-secondary:  #B078B3;
    --color-support:    #EC9D45;
    --color-highlight:  #55b4a1;

    --font-titles: 'Fredoka', sans-serif;
    --font-body:   'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%; 
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--color-background);
}

main {
    background-color: var(--color-highlight);
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.1); 
}

/* Header */
#team-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.logo img {
    max-width: 90px;
    height: auto;
    filter: drop-shadow(4px 4px 0px black);
}

#notifications {
    width: 30px;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--color-background);
}


.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    width: 60px;
}

.nav-icon img {
    width: 30px;
    height: auto;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Active */
.nav-icon.active img {
    transform: scale(1.3) translateY(-2px);
    filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.5));
}