main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
}

h1 {
    font-family: var(--font-titles);
    font-size: 2.2rem;
    color: var(--color-support);
    text-align: center;
    -webkit-text-stroke: 1.5px black; 
    filter: drop-shadow(4px 4px 0px black);
    margin-top: 10px;
}

/* Map */
main img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 8px 8px 0px black;
    transition: transform 0.2s;
}

main img:hover {
    transform: scale(1.02);
}
