body {
    padding-bottom: 8rem; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

/* Difficulty Legend */
h1 {
    font-family: var(--font-titles);
    font-size: 2.2rem;
    color: #202020;
    margin-bottom: 1.5rem;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.difficulty-legend {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    background: white;
    padding: 12px 25px;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 4px 4px 0px black;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-item p {
    font-family: var(--font-titles);
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
    margin: 0;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid black;
}

.easy { background-color: #EC9D45; }
.medium { background-color: #55b4a1; }
.hard { background-color: #B078B3; }

/* Missions */
#mission {
    display: flex;
    flex-direction: column;
    gap: 35px; 
    padding: 10px 0;
    width: 100%;
    align-items: center;
}

.mission-btn {
    width: 160px;  
    height: 160px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid black;
    box-shadow: 6px 6px 0px black;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: transform 0.1s, box-shadow 0.1s;
}

.mission-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-btn:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px black;
}

/* Locked missions */
.mission-btn.is-locked {
    filter: grayscale(1) !important;; 
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: 2px 2px 0px black;
}

.mission-btn.is-locked img {
    filter: grayscale(1);
}