/* Color code legend*/
h1{
    padding-bottom: 1rem;
    font-family: var(--font-titles);
}
.difficulty-legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
    background: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 4px 4px 0px black;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-item p {
    font-family: var(--font-titles);
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1.5px solid black;
}

.easy { background-color: #EC9D45; }
.medium { background-color: #55b4a1; }
.hard { background-color: #B078B3; }

#mission {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    align-items: center;
}

.mission-btn {
    width: 160px;  
    height: 160px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
    box-shadow: 4px 4px 0px black;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all 0.1s;
}

.mission-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-btn:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px black;
}