#personal-notes {
    width: 90%;
    height: 300px;
    background-color: #fff9e6; /* Color papel */
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    font-family: var(--font-body);
    font-size: 1rem;
    box-shadow: 6px 6px 0px black;
    outline: none;
    resize: none;
}

#btn-save-notes {
    margin-top: 20px;
    width: 80%;
    padding: 15px;
    background-color: var(--color-primary);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px 0px black;
    font-family: var(--font-titles);
    cursor: pointer;
}

#btn-save-notes:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(4px, 4px);
}

.notes-list {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 100px;
}


.saved-note {
    background-color: #fff9e6;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    box-shadow: 4px 4px 0px black;
    font-family: var(--font-body);
    position: relative;
    min-height: 50px;
}

.delete-note-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff6b6b;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 0px black;
}

.delete-note-btn:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(2px, 2px);
}