* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-highlight) !important;
}

main {
    background-color: var(--color-highlight);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

/* Logo */
.logo img {
    max-width: 120px;
    height: auto;
    filter: drop-shadow(4px 4px 0px black);
}

/* Cat Avatar */
.avatar-container {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    transition: all 0.1s;
}

.cat-avatar {
    width: 95%;
    height: 95%;
    background-image: url('../images/cat.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/* Button */
#btn-meet-cat {
    width: 70%;
    color: #000;
    background-color: var(--color-support);
    font-family: var(--font-body);
    font-weight: bold;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    transition: all 0.1s;
}

#btn-meet-cat:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    transform: translate(4px, 4px);
}

/* Input */
#team-name {
    width: 70%;
    border: none;
    border-bottom: 2px solid black; 
    background: transparent;
    font-family: var(--font-body);
    font-weight: bold;
    text-align: center;
    outline: none;
}

/* Botom part */
.orange-cat {
    width: 60px;
    height: auto;
    filter: drop-shadow(4px 4px 0px black);
}

#team-name::placeholder {
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--color-background);
    padding: 40px 25px;
    border: 3px solid black;
    box-shadow: 8px 8px 0px black;
    border-radius: 20px;
    text-align: center;
    width: 85%; 
    max-width: 320px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.modal-content h2 {
    font-family: var(--font-titles);
    font-size: 1.5rem;
    margin-bottom: 5px;
    line-height: 1.2;
}

/* Go to Button */
#btn-go-index {
    width: 90%;
    max-width: 220px;
    color: #000;
    background-color: var(--color-secondary);
    font-family: var(--font-body);
    font-weight: bold;
    border-radius: 15px;
    padding: 15px 10px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
    margin-top: 10px;
    transition: all 0.1s;
}